---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="Welcome bla.">
	<body>
		<header  class="flex items-center bg-fixed h-[500px] w-full bg-cover" style="background-image:url(../../public/assets/img/bg_madero.avif);">
			<NavBar/>
			<p class="text-slate-900 text-xl">
				Somos intermediarios líderes entre vos y las principales compañías de seguros. Logramos los mejores costos y beneficios, garantizando muy buena atención y el respaldo que brinda un Broker Corporativo.</p>
		</header>
		<main>
			
		</main>
	</body>
	
	
</Layout>

<style>
	main {
		margin: auto;
/* 		padding: 1rem; */
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
