---
import CarrouselCard from "./CarrouselCard.astro";
import Data from "../../public/assets/data/CardSlider.json"

const data = Data
---
<div class="grid place-items-center mb-4  gap-6">
<p class="text-slate-800 text-6xl">Riesgos</p>
<p class=" text-sm text-center text-slate-700 p-2">Contamos con los planes más solicitados y con el respaldo que brinda
    un Broker Corporativo como Makler S.A.</p>
</div>
<div class="splide h-[270px] sm:h-[350px] w-full  " role="group" >
    <div class="splide__track ">
            <ul class="splide__list w-full  ">
                {
                    data.map(doc=>(
                    <li class="splide__slide grid place-items-center h-[200px] md:h-[300px] ">
                        <CarrouselCard title={doc.title} img={doc.img} btn={doc.btn}/>
                    </li>
        ))
                }        
            </ul>
    </div>
</div>



<script>
import '@splidejs/splide/css';
import '@splidejs/splide/css/skyblue';
import '@splidejs/splide/css/sea-green';
import '@splidejs/splide/css/core';
import Splide from '@splidejs/splide';
    
    
var splide = new Splide( '.splide', {
    rewind: true,
    type   : 'loop',
    padding: 1,
    snap   : true,
    perPage: 2,
    breakpoints:{
        800:{
            arrows:false,
            perPage: 1,
        },
    }

} );

splide.mount();
</script>

<style>
    .splide{
        padding: 10px;
    }
</style>