---
import CardDetalle from "./CardDetalle.astro";
import Data from "../../public/assets/data/CardServicio.json"

const data = Data

---
<div class="flex items-center justify-evenly max-sm:flex-col mt-10 lg:mt-20 lg:mb-10 md:gap-4 md:flex-row lg:gap-14 lg:flex-row  w-[90%]" id="cardSlot">
    {
        data.map(doc=>(
            <CardDetalle title={doc.title} icon={doc.icon} body={doc.body}/>
        ))
    }
	
</div>

