<p class="text-center text-xs font-semibold text-slate-400 bg-transparent py-2">
  Desarrollado por <a
    href="https://github.com/JM-Dev-ARG"
    target="_blank"
    >JM-DEV</a
  > / Agencia Panambi
</p>
