---
import bg from "../assets/img/bg_header.png"
---

<header id="inicio" class="flex justify-center items-center md:h-[500px] w-full xl:h-[600px] 2xl:h-[950px]" >
    <div class="h-full w-full bg-center bg-cover bg-no-repeat flex justify-center items-center bgHeader" >
        <p class="max-sm:text-base md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl  font-bold  text-slate-100 text-center max-w-[75%] lg:w-1/2 max-sm:m-10">
            Somos intermediarios líderes entre vos y las principales compañías de seguros. Logramos los mejores costos y beneficios, garantizando muy buena atención y el respaldo que brinda un Broker Corporativo.
        </p>
    </div>
</header>

<style>
    .bgHeader{
        background-image: url("../assets/img/bg_header.png");
    }
</style>

