---
import { Image } from "astro:assets";
import img from "../assets/img/LucasMarks_V2-02.png"

---

<div  class="flex w-full  items-start justify-around bg-slate-50 sticky py-3 top-0 z-10 shadow-md">
        <a href="" class="cursor-pointer h-[60px] grid place-items-center">
            <Image src={img} class="h-[52.8px] w-[250px] top-0" alt="Lucas Marks, asesor de seguros - logo"></Image>
        </a>
    <div class="flex items-center justify-center  ">
        <ul class="flex items-center justify-center gap-6 h-[60px] max-[600px]:hidden">
            <li><a href="" class="text-slate-950 hover:text-[#17A2B8] font-semibold text-lg">Sercicios</a></li>
            <li><a href="" class="text-slate-950 hover:text-[#17A2B8] font-semibold text-lg">Contacto</a></li>
        </ul>
        <div class="collapse min-[601px]:hidden p-0 ">
            <input type="checkbox" id="menu" /> 
            <div class="collapse-title grid place-items-center p-0 " id="menuLogo" >
                <svg width="32" height="32" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M4.5 6.5h12m-12.002 4h11.997M4.5 14.5h11.995"/>
                </svg>
            </div>
            <div class="collapse-content p-0 pb-0 "> 
                <ul class="flex flex-col gap-2 ">
                    <li><a href="" class="text-slate-950 hover:text-[#17A2B8] font-semibold text-md">Sercicios</a></li>
                    <li><a href="" class="text-slate-950 hover:text-[#17A2B8] font-semibold text-md">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style></style>
<script>
    const menu = document.getElementById("menu");
    const menuLogo = document.getElementById ("menuLogo");
    menu.addEventListener("click", ()=>{
        menu.checked === true ? menu.setAttribute("checked",""): menu.removeAttribute("checked");
    menu.addEventListener("change", ()=>{
        if(menu.checked === true){
        menuLogo.innerHTML = ""
        const newMenu = document.createElement("div")
        newMenu.innerHTML = `<div class="collapse-title grid place-items-center p-0 " id="menuLogo" >
            <svg width="32" height="32" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill="currentColor" fill-rule="evenodd" d="M4.293 4.293a1 1 0 0 1 1.414 0L10 8.586l4.293-4.293a1 1 0 1 1 1.414 1.414L11.414 10l4.293 4.293a1 1 0 0 1-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 0 1-1.414-1.414L8.586 10L4.293 5.707a1 1 0 0 1 0-1.414Z" clip-rule="evenodd"/>
</svg>
            </div>`
            menuLogo.appendChild(newMenu)
        }else {
            menuLogo.innerHTML = ""
        const newMenu = document.createElement("div")
        newMenu.innerHTML =
        `<div class="collapse-title grid place-items-center p-0 " id="menuLogo" >
                <svg width="32" height="32" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M4.5 6.5h12m-12.002 4h11.997M4.5 14.5h11.995"/>
                </svg>
            </div>`
            menuLogo.appendChild(newMenu)
        }

    })
    })

</script>