---

---

<div  class="flex w-full items-center justify-around bg-slate-50 fixed py-4  top-0">
    <a target="https://daisyui.com/components/navbar/">
        <img src=".../../public/assets/img/LucasMarks_V2-02.png" class="h-[52.8px] w-[250px]"></img>
    </a>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a class="text-slate-950 hover:bg-slate-50 hover:text-teal-800 font-semibold">Sercicios</a></li>
            <li><a class="text-slate-950 hover:bg-slate-50 hover:text-teal-800 font-semibold ">Contacto</a></li>
        </ul>
    </div>
</div>

<style></style>
