---
import CardServicio from "./CardServicio.astro";

const url = "../../assets/data/CardServicio.json"
const res = await fetch(url)
const docs = await res.json()

---

<p class="text-6xl text-slate-800">Servicios</p>
<div class="flex items-center justify-evenly  my-10 lg:my-15 md:gap-4 max-[900px]:flex-col lg:gap-6 lg:flex-row w-full px-4">
    {
        docs.map(doc=>(
            <CardServicio title={doc.title} icon={doc.icon} body={doc.body} visible={doc.visible}/>
        ))
    }
	

</div>
