---
import CardServicio from "./CardServicio.astro";
import Data from "../assets/data/CardServicio.json";

const data = Data;
---

<p class="text-6xl text-slate-800 mt-12">Servicios</p>
<div
  class="flex items-center justify-evenly my-10 lg:my-15 gap-4 max-[900px]:flex-col lg:gap-6 lg:flex-row w-full px-4"
>
  {
    data.map((doc) => (
      <CardServicio
        title={doc.title}
        icon={doc.icon}
        body={doc.body}
        visible={doc.visible}
      />
    ))
  }
</div>
<div
  id="contact"
  class="h-16"
>
</div>
